<style>
  .it_content {
    position: relative;
  }
  .delete {
    float: right;
    line-height: 53px;
  }
  .it_content:first-child .delete,
  .hide {
    display: none;
  }
</style>


<h1>Create task page</h1>
<hr/>
<form action="/create_task" method="POST" id="task_form">
  <div class="hide">
    {{> action}}
    {{> check}}
  </div>
  <h2>Basic info</h2>
  <hr/>
  <div id="basic_info">
    {{!-- describe main task --}}
    <p>
      <label for="describe">describe main task:
        <input id="describe" type="text" name="describe" />
      </label>
    </p>

    {{!-- the url --}}
    <p>
      <label for="url">The url:
        <input id="url" type="text" name="url" />
      </label>
    </p>

    {{!-- The language --}}
    <p>
      <label for="lang">The language:
        <input id="lang" type="text" name="lang" />
      </label>
    </p>

    <hr/>
  </div>

  <h2>Create Steps</h2>
  <hr/>

  <div id="create_step">
    {{!-- Basic step --}}
    {{> basic_step}}
  </div>

  <p>
    <a id="add" href="#">Add Steps</a>
  </p>

  <input id="btn" type="submit" value="Create task" />
</form>

<script>
  $(function () {
    var tasks = tasks || {},
        $task_form = $('#task_form'),
        $obj = {
          btn:        $task_form.find('#btn'),
          describe:   $task_form.find('#describe'),
          url:        $task_form.find('#url'),
          lang:       $task_form.find('#lang'),
          hide:       $task_form.find('.hide'),
          type_con:   $task_form.find('.type_content'),
          add:        $task_form.find('#add'),
          steps:      $task_form.find('#create_step'),
          it_add:     $task_form.find('#it_add'),
          it_content: $task_form.find('.it_content')
        },
        cache_step = $obj.steps.html(),
        cache_action = $obj.hide.find('#action').html(),
        cache_check = $obj.hide.find('#check').html(),
    disableBtn = function () {
      $obj.btn.prop('disabled', true).val('Created');
    },
    createTask = function (e) {
      e.preventDefault();
      tasks.config.data = {
        url:      $obj.url.val(),
        describe: $obj.describe.val(),
        lang:     $obj.lang.val()
      };
      $.ajax({
        type: 'post',
        url: '/success',
        dataType: 'html',
        data: tasks.config.data,
        success: disableBtn
      });
    },
    addSteps = function (e) {
      e.preventDefault();
      $obj.steps.append(cache_step);
    },
    deleteStep = function (e) {
      e.preventDefault();
      $(this).parents('.it_content').remove();
    };
    tasks.config = {};
    tasks.config.it = [];

    $obj.btn.on('click', createTask);
    $obj.add.on('click', addSteps);
    $obj.steps.on('click', '.delete', deleteStep);

    $obj.steps.on('change', '[name="type"]', function (e) {
      var $this = $(this),
          val = $this.val(),
          $type_content = $this.parent('label').next('.type_content');

      if (val === 'action') {
        $type_content.html(cache_action);
      } else {
        $type_content.html(cache_check);
      }
    });
  });
</script>