<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <script src="./lib/jquery-1.11.3.min.js"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create_task">Create task</a></li>
        <li><a href="/edit_task">Edit task</a></li>
        <li><a href="/load_task">Load task</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}
  
</body>
</html>