<span class="action">
  {{!-- findElement --}}
  <label>
    <span>
      findElement: <input type="text" name="findElement" placeholder="Enter an Element" />
    </span>
  </label>

  {{!-- By --}}
  <label>
    <span>
      by: 
      <select name="by">
        <option value="">Select by</option>
        <option value="className">className</option>
        <option value="css">css</option>
        <option value="id">id</option>
        <option value="name">name</option>
      </select>
    </span>
  </label>

  {{!-- select actions --}}
  <label>
    <span>
      actions:
      <select name="action">
        <option>Selcet action</option>
        <option value="click">click</option>
        <option value="sendKeys">sendKeys</option>
        <option value="clear">clear</option>
      </select>
      <input type="text" name="sendKeys" data-name="sendKeys" class="hide" />
    </span>
  </label>

  {{!-- add or delete btn --}}
  <a data-name="add" href="#">Add</a>
  <a data-name="delete" href="#">Delete</a>
</span>