    {{!-- Basic step --}}
    <div class="it_content">
      <a class="delete" href="#">Delete</a>

      {{!-- describe it task --}}
      <p>
        <label>
          describe it task: <input type="text" name="it_name" />
        </label>
      </p>

      <div class="lists-content">
        <p data-name="lists">
          <label>
            type:
            <select name="type">
              <option value="action">action</option>
              <option value="check">check</option>
            </select>
          </label>
        
          <span class="type_content">
            {{> action}}
          </span>
        </p>
      </div>
      <hr/>
    </div>