<span class="check">
  functions 
  <select name="functions">
    <option value="elementIsVisible">elementIsVisible</option>
    <option value="elementTextContains">elementTextContains</option>
    <option value="titleContains">titleContains</option>
  </select>
  keys
  <input type="text" name="functions_name" />
  <a data-name="add" href="#">Add</a>
  <a data-name="delete" href="#">Delete</a>
</span>